@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime;
@model Usuario;

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-floating mb-3">
                                        @Html.TextBoxFor(x => x.Email,
                                                 new { @class = "form-control",id="inputEmail", placeholder = "Email", autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })

                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        @Html.TextBoxFor(x => x.Password,
                                                 new { @class = "form-control", id = "inputPassword", type = "password", placeholder = "Contraseña", autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })

                                        <label for="inputPassword">Contraseña</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
                                        <button class="btn btn-primary" type="submit">Login</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts{

}